<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Educational Space{% endblock %}</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>

        <li class="dropdown">
          Modules
          <ul class="dropdown-menu">
            <a href="{{ url_for('gravity') }}">Gravity</a>
          </ul>
        </li>
      </ul>
    </nav>

    <main class="container">{% block content %}{% endblock %}</main>

    <footer>
      <p>&copy; 2026 Educational Space. More content coming soon!</p>
    </footer>

    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
